doctype html
html(lang="ko")
    head
        title #{pageTitle} | Wetube
        link(rel="shortcut icon" href="#")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
        link(rel="stylesheet" href="/static/css/styles.css")
        link(rel="stylesheet" href="https://unpkg.com/video.js@7/dist/video-js.min.css")
        link(rel="stylesheet" href="https://unpkg.com/@videojs/themes@1/dist/city/index.css")

    
    body
        include partials/header
        main
            block content 
        include partials/footer
    script(src="/static/js/main.js")
    block scripts