header
    a(href="/").header__logo
        i.fab.fa-youtube
    nav 
        ul 
            li  
                a(href="/search")
                    i.fas.fa-search
            if loggedIn
                li 
                    a(href="/videos/upload") Upload Video
                li 
                    a(href="/users/edit") Edit Profile
                li 
                    a(href="/users/logout") Log out
                li
                    a(href=`/users/${loggedInUser._id}`)
                        //- if loggedInUser.avatarUrl
                        //-     img.header__avatar(src=loggedInUser.avatarUrl)
                        //- else
                        //-     span.header__avatar 😀

                        if loggedInUser.avatarUrl === ""
                            span.header__avatar 😀
                        else
                            if loggedInUser.avatarUrl
                                if loggedInUser.avatarUrl.includes("github")
                                    img.header__avatar(src=loggedInUser.avatarUrl, cross origin)
                                else
                                    img.header__avatar(src=loggedInUser.avatarUrl)

            else
                li
                    a(href="/join").header__btn Join
                li 
                    a(href="/login") Login