
extends ../base
include ../mixins/video


block content
    if (typeof(loggedInUser.avatarUrl) !== 'undefined')
        img.avatar(src="/" + loggedInUser.avatarUrl)
    else
        span.avatar 😀
    div.profile__data
        h3=user.name
    div.video-grid
        each video in user.videos
            +video(video)
        else
            span.empty__message No videos found